
body {
  font-family: "Montserrat";
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.7rem;
}
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
/* Headings */

/* title section */

#title {
  background-color: #dd4c68;
}
.container-fluid {
  padding: 3% 15% 7%;
  height: 90%;
}

@media (max-width: 1070px) {
  .container-fluid {
    text-align: center;
    height: 200%;
  }
  #iphone {
    position: static;
    transform: rotate(0);
  }
}
#iphone {
  margin-left: 20%;
  transform: rotate(25deg);
  width: 60%;
}

/* navigation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}
.nav-item {
  padding: 0 18px;
}

.navbar {
  padding-bottom: 4.5rem;
}

.Download-btn {
  margin: 5% 3% 5% 0;
}

/* features section */
.circle,
.bullseye,
.heart {
  color: #ef8172;
  display: block;
  padding: 10%;
}
.circle:hover,
.bullseye:hover,
.heart:hover {
  color: #ff4c68;
}
.p-Features {
  color: #8f8f8f;
}
#features {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 10%;
  text-align: center;
}


/* testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

/* contact section */
#cta {
  background-color: #ff4c68;

  text-align: center;
  padding: 5%;
}
#h3-cta {
  font-size: 2.5rem;
  color: #fff;
}
/* footer section */

#footer {
  padding: 5%;
  text-align: center;
}
.social-icon {
  margin: 2% 2%;
}
