h1#Titulo{

    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p#Paragrafo1{
    margin-top: 150px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
} 
input#InputVerif{
font-size: 16pt;
background-color: rgba(189, 108, 61, 0.671);
margin-left: 20px;
}

body{
    margin-top: 100px;
}

div#Resultado{

    font-family: sans-serif;
    font-size: 16pt;
    
    text-align: center;
}